<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daiya.sheba">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".RegistrationUser" />
        <activity android:name=".RegistrationService" />
        <activity android:name=".CarWashReg" />
        <activity android:name=".CarRentReg" />
        <activity android:name=".CleanHouseReg" />
        <activity android:name=".TutorReg" />
        <activity android:name=".ShiftingReg" />
        <activity android:name=".DriverReg" />
        <activity android:name=".ShowList" />
        <activity android:name=".sampleList" />
        <activity android:name=".ShowCarWashData" />
        <activity android:name=".ShowCarRentData" />
        <activity android:name=".ShowDriverData" />
        <activity android:name=".ShowShiftingData" />
        <activity android:name=".ShowTutorData"></activity>
    </application>
    
    <uses-permission android:name="android.permission.CALL_PHONE"/>

</manifest>